#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Baloo 2', cursive;
}

#header h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bolder;
    color: #6e4f9b;
}

#login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login h2 {
    font-size: 1.75rem;
    margin-bottom: .25rem;
    margin-top: .75rem;
    margin-left: 0;
    color: #372B34;
}

#login input {
    width: 17rem;
    height: 2rem;
    background-color: whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    border-bottom: 3px solid #B083D6;
    border-radius: .5rem;
    text-shadow: none;
}

input:focus {
    outline: none;
}

#submit {
    margin-top: 1rem;
    width: 17rem;
    height: 2.5rem;
    background-color: #B083D6;
    border-radius: .3rem;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit:hover {
    background-color: #6e4f9b;
}

#submit h3 {
    font-size: 1.25rem;
    color: whitesmoke !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#advanced-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#advanced-options {
    margin: 0;
    color: #6e4f9b;
    font-weight: bold;
}

#advanced-options h2 {
    margin-top: 1.25rem;
    margin-bottom: .75rem;
}

#root-login {
    margin: 0;
    margin-bottom: 1rem;
}

#root-login h3 {
    width: 17rem;
    height: 2.5rem;
    margin: 0;
    background-color: #D3D3E0;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

#root-login h3:hover {
    background-color: #B083D6;
    color: whitesmoke;
}

#empty-password {
    margin: 0;
}

#empty-password h3 {
    width: 17rem;
    height: 2.5rem;
    margin: 0;
    background-color: #D3D3E0;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

#empty-password h3:hover {
    background-color: #B083D6;
    color: whitesmoke;
}